@page
@model Equus.App.Presentacion.Pages.ListaVeterinariosModel
@{
}
<h1>listado de Veterinarios </h1>

<table class="table">
    <h2>estan</h2>
    
    
    @foreach (var veterinario in Model.Veterinario)
    {
      
      <tr>
      
        <td>@veterinario.Nombre</td>
        <td>@veterinario.Apellidos</td>
        
        <td>
        <a class="btn btn-primary table-btn" asp-page="./DetalleVeterinario" asp-route-idveterinario="@veterinario.IdPersona">Detalles
             <i class="fas fa-info-circle fa-lg" aria-hidden="true"></i>
             </a>
        </td>
     
        <td><div class="btn-group pl-5 pr-5" role="group" aria-label="Basic mixed styles example">
            <a class="btn btn-warning d-inline" asp-area="" asp-page="./EditarVeterinario" asp-route-idveterinario="@veterinario.IdPersona"><i class="fas fa-edit" ></i> Editar</a>
            <a class="btn btn-danger d-inline" asp-area="" asp-page="./BorrarVeterinario" asp-route-idveterinario="@veterinario.IdPersona"><i class="fas fa-trash-alt"></i> Eliminar</a> 
        </div></td>

    </tr>  
    }

</table>
<a asp-page=".\IngresarVeterinario" class="btn btn-primary">Adicionar Veterinario</a>


