@page
@model Equus.App.Presentacion.Pages.DetalleAnimalModel
@{
}
<div class="container">
    <div class="row">
        <table class="table">
            <tr>
                <h2>Datos Detallados del Animal</h2>
            </tr>
            <br>
            <tr>
                <div>
                    Id Animal: @Model.Animal.IdAnimal
                </div>
            </tr>
            <br>
            
            <tr>
                <div>
                    Nombre: @Model.Animal.Nombre
                </div>
            </tr>
            <br>
            <tr>
                <div>
                    Color: @Model.Animal.Color
                </div>
            </tr>
            <br>
            <tr>
                <div>
                    Especie: @Model.Animal.Especie
                </div>
            </tr>
            <br>
            <tr>
                <div>
                    Raza: @Model.Animal.Raza
                </div>
            </tr>
            <br>
            
        </table>
    </div>
</div>
<a asp-page="./ListaAnimal" class="btn-default">Volver a la lista de Animals</a>

